$font-weight-regular: 400;
$default-border-radius: 5px;
$default-box-height: 181px;
$default-box-width: 340px;
$desktop-container-height: 676px;
$desktop-container-width: 759px;
$default-font-size: 20px;
$small-font-size: 13px;
$default-red: rgba(236, 54, 45, 1);
$right-answer-color: rgba(0, 156, 34, 1);
$wrong-answer-color: rgba(255, 75, 75, 1);
$image-gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 64.58%,
  rgb(0, 0, 0) 100%
);
